{% spaceless %}
    {% if readOnly %}
        {{ content }}
    {% else %}
        {% if multiple %}
            <select class="data-input-sheet-input multiple-selection" name="{{ constant('Arkschools\\DataInputSheets\\View::FORM_NAME') }}[{{ spineId }}][{{ columnId }}][]" multiple="multiple">
        {% else %}
            <select class="data-input-sheet-input" name="{{ constant('Arkschools\\DataInputSheets\\View::FORM_NAME') }}[{{ spineId }}][{{ columnId }}]">
                <option value="" {% if content == '' %}selected{% endif %}></option>
        {% endif %}
            {% for key, item in list %}
                <option value="{{ key }}" {% if content[key] is defined or content == key %}selected{% endif %}>{{ item }}</option>
            {% endfor %}
        </select>
    {% endif %}
{% endspaceless %}
