<div class="container-fluid clearfix">
    <div class="page-header">
        <h1>Data Input Sheet {{ view.title }}</h1>
    </div>

    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="alert alert-success alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <i class="fa fa-check" aria-hidden="true"></i> {{ flashMessage | nl2br }}
        </div>
    {% endfor %}

    <form name="data-input-sheet-form" method="post">
        <table id="data-input-sheet-table" class="table table-nonfluid">
            <thead>
            <tr>
                <th class="transparent">Column</th>
                <th class="transparent">Value</th>
            </tr>
            </thead>
            <tbody>
            {% for column in view.columns %}
                <tr class="middle">
                    <td>{{ column.title }}</td>
                    <td>{{ dataInputSheetCell(view, column.id, spineId) }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <br/>
        {%  if position > 0 %}<div><button type="submit" class="btn btn-success" name="submit" value="Previous">Save & Previous</button></div>{% endif %}
        <div><a class="btn btn-success" href="{{ path('data_input_sheets_view', {'sheetId': view.sheetId, 'viewId': view.id}) }}">Cancel & Back</a></div>
        {%  if position < view.count - 1 %}<div><button type="submit" class="btn btn-success" name="submit" value="Next">Save & Next</button></div>{% endif %}
    </form>
</div>
